In [1]:
import pandas as pd

In [2]:
# Filepaths
dam_fp = 'Data/SE Asia-dams_eng.xlsx'
power_fp = 'Data/POWER_Point_Monthly_Timeseries_1981_2020_China.csv'
unk1_fp = 'Data/CHM00053231.csv'
unk2_fp = 'Data/CHM00054511.csv'
unk3_fp = 'Data/CHM00058367.csv'

In [3]:
#Create dataframes for our data

dam_df = pd.read_excel(dam_fp, skiprows=1, usecols=(range(28)))

In [4]:
dam_df.sample(10)

,Country,Name of dam,Alternate dam name,ISO alpha- 3,Administrative\nUnit,Nearest city,River,Major basin,Sub-basin,Completed /operational since,...,Navigation,Recreation,Pollution control,Livestock rearing,Other,Decimal degree latitude,Decimal degree longitude,National reference(s),Other reference(s),Comments
3048,India,Babra,NaN,IND,Rajasthan,Sojat,Lalri,NaN,NaN,1983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...
200,China,Guanhe,NaN,CHN,NaN,"Wuxiang, Shanxi",Zhangweihe,Haihe,NaN,1960,...,NaN,NaN,NaN,NaN,NaN,36.837083,112.885278,NaN,"3,65",NaN
888,India,Gangau,NaN,IND,Uttar Pradesh,Chatarpur,Ken,NaN,NaN,1915,...,NaN,NaN,NaN,NaN,NaN,24.626944,79.861111,20,NaN,The values of the reservoir areas may be low q...
4539,Japan,Aki,NaN,JPN,NaN,NaN,Akigawa,NaN,NaN,1971,...,NaN,NaN,NaN,NaN,NaN,33.486250,131.608750,NaN,65,NaN
3115,India,Kabadia,NaN,IND,Madhya Pradesh,Chhindwara,Local,NaN,NaN,1983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...
1539,India,Batra,NaN,IND,Chattisgarh,Na,Na,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...
351,China,Lianhe (Guangdong),NaN,CHN,NaN,Boluo,Liposhui,Zhu Jiang,NaN,1964,...,NaN,NaN,NaN,NaN,NaN,23.282778,113.912778,NaN,"65,67",NaN
3880,India,Rawalgaon,NaN,IND,Maharashtra,Dindori,Local Nala,NaN,NaN,1997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...
2132,India,Titawi,NaN,IND,Maharashtra,Lonar,Local Nala,NaN,NaN,1972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...
1621,India,Sehra,NaN,IND,Madhya Pradesh,Sidhi,Local,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,The values of the reservoir areas may be low q...

In [8]:
dam_df = dam_df.replace(['x'], 1)

In [9]:
dam_df = dam_df.fillna(0)

In [16]:
dam_df.sample(10)

,Country,Name of dam,Alternate dam name,ISO alpha- 3,Administrative\nUnit,Nearest city,River,Major basin,Sub-basin,Completed /operational since,...,Navigation,Recreation,Pollution control,Livestock rearing,Other,Decimal degree latitude,Decimal degree longitude,National reference(s),Other reference(s),Comments
3222,India,Kumari,0,IND,West Bengal,Purulia,Kumari,0,0,1984,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
267,China,Longmentan,0,CHN,0,Dehua,Dazhangxi,Min Jiang,0,0,...,0,0,0,0,0,25.495278,118.350278,0,"3,65",0
1943,India,Bhaguda,0,IND,Gujarat,Mahuva,Tr. Of Begad,0,0,1968,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
3136,India,Behera,0,IND,Orissa,Bhawanipatna,Behera Nalla,0,0,1983,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
2132,India,Titawi,0,IND,Maharashtra,Lonar,Local Nala,0,0,1972,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
359,China,Dahuofang,0,CHN,0,Shenyang,Hun He,Liaohe,0,1964,...,0,0,0,0,0,41.891111,124.095278,0,"3,65",0
4198,Indonesia,Sepit,0,IDN,Nusa Tenggara Barat,Lombok Tengah,0,0,0,1993,...,0,0,0,0,0,0.000000,0.000000,70,0,0
3365,India,Dinsi Tank,0,IND,Karnataka,Gulbarga,Krishna Bn.,0,0,1986,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
2316,India,Kothurde,0,IND,Maharashtra,Mahad,Local Nala,0,0,1975,...,0,0,0,0,0,0.000000,0.000000,20,0,The values of the reservoir areas may be low q...
55,China,Jinjiang (Hunan),0,CHN,0,Dong'an,0,0,0,1958,...,0,0,0,0,0,29.895417,112.291944,0,"65,67",0

In [12]:
dam_df[['Navigation', 'Recreation', 'Pollution control', 'Livestock rearing']] = \
    dam_df[['Navigation', 'Recreation', 'Pollution control', 'Livestock rearing']].astype(int)

In [15]:
dam_df.dtypes

Country                                    object
Name of dam                                object
Alternate dam name                         object
ISO alpha- 3                               object
Administrative\nUnit                       object
Nearest city                               object
River                                      object
Major basin                                object
Sub-basin                                  object
Completed /operational since               object
Dam height (m)                            float64
Reservoir capacity (million m3)           float64
Reservoir area (km2)                      float64
Sedimen-tation \n(latest known) \n(%)     float64
Irrigation                                 object
Water supply                               object
Flood control                              object
Hydroelectricity (MW)                      object
Navigation                                  int64
Recreation                                  int64
Pollution control                           int64
Livestock rearing                           int64
Other                                      object
Decimal degree latitude                   float64
Decimal degree longitude                  float64
National reference(s)                      object
Other reference(s)                         object
Comments                                   object
dtype: object

In [23]:
georeferenced_dams = dam_df.loc[dam_df['Decimal degree latitude'] != 0]

In [26]:
dam_df.to_excel('Data/dams_cleaned_sample.xlsx')